html {background: rgb(24, 24, 24);}
body {font-family: Trebuchet MS;
    background: rgb(36, 36, 36);
    color: white;
    margin: 1em;
    padding: 1em;}
.navbar {
	background: rgb(41, 41, 41);
	display: flex;
	align-items: center;
	padding: 0em 1em;
}
.navbar ul li {
	display: inline-block;
	margin: 0em 1em;
}
a:link {color: rgb(255, 255, 255)}
a:visited {color: rgb(255, 255, 255)}

.table {border-spacing: 0;
    margin: 2em;
    background-color:rgb(49, 49, 49);}
    
.table__row:nth-child(even){
    background-color:rgb(66, 66, 66);
}
    
.table__header {
    text-align: left;
}
    
.table__cell{
    padding: 8px;
}