<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Content Warning Check</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
<body>
{% include 'navbar.html' %}
<h1>Content Warning Check</h1>
<p>On this page you can check content warnings for different TV series. The TV series are listed here in different ways. 
    There is a complete table overview where all the series listed, and their content warnings are listed directly. Then there is a list overview, from which you can access the pages of the individual pages. 
    From there you can get to the lists of content warnings. There is also a search function that can be used to search the entire list for series. <br><br>
    The content warnings listed here are <b>Animal Death</b>, <b>Suicide</b>, <b>Sexual assault</b>, <b>Self-injurious behavior</b>, and <b>Child Harm</b>.
    </p>
<p>Auf dieser Seite kann man Inhaltswarnungen für unterschiedliche TV-Serien prüfen. Die TV-Serien sind hier auf verschiedene Weisen aufgelistet. 
    Es gibt eine komplette Tabellenübersicht, wo alle hier aufgeführten Serien und ihre Inhaltswarnungen direkt aufgelistet sind. Dann gibt es noch eine Listenübersicht, von der aus man auf die Seiten der einzelnen Seiten kommt. 
    Von dort aus kommt man auf die Listen der Inhaltswarnungen. Es gibt auch eine Suchfunktion, mit der man die komplette Liste nach Serien durchsuchen kann.<br><br>
    Die hier aufgelisteten Inhaltswarnungen sind <b>Tiere sterben</b>, <b>Suizid</b>, <b>sexuelle Gewalt</b>, <b>selbstverletzendes Verhalten</b> und <b>Kinder werden verletzt</b>. 
    </p>

</body>
</html>