<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
        <title>Content Warning Check</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
{% include 'navbar.html' %}
<h1>Content Warnings for {{ series }} / Inhaltswarnungen für {{ series }}</h1>
<p>Animal death / Tiere sterben: <a href='/animal_death'>Check here / Überprüfen</a> </p>
<p>Suicide / Suizid: <a href='/suicide'>Check here / Überprüfen</a></p>
<p>Sexual assault / Sexuelle Gewalt: <a href='/sexual_assault'>Check here / Überprüfen</a></p>
<p>Self injurious behavior / Selbstverletzendes Verhalten: <a href='/self_injurious_behavior'>Check here / Überprüfen</a></p>
<p>Child harm / Kinder werden verletzt: <a href='/child_harm'>Check here / Überprüfen</a></p>
</body>
</html>