<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Content Warning Check</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
<body>
{% include 'navbar.html' %}
<h1>Table / Tabellenübersicht</h1>
<table class="table">
    <tr class="table__header">
{% for header in headings %}
    <th class="table__cell"> {{ header }} </th>
{% endfor %}
    </tr>
    {% for row in data %}
    <tr class="table__row">
    {% for cell in row %}
    <td class="table__cell">{{cell }}</td>
    {% endfor %}
    </tr>
    {% endfor %}
    </table>

</body>
</html>